<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB34dHc-2E78HtjrJwLrSXGmtDThQVgx0g</string>
	<key>GCM_SENDER_ID</key>
	<string>249347303465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.INFO6350.StockMarketApp</string>
	<key>PROJECT_ID</key>
	<string>stock-trading-app-e76f4</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-trading-app-e76f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249347303465:ios:8fe2a1ad7d42f3cdc59438</string>
</dict>
</plist>